*{
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background-color: #f2f3f5; /* Light background color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: radial-gradient(circle at 1% 1%, #ffe28a 20%, transparent 20%),
  radial-gradient(circle at 99% 99%, #c1e4f5 20%, transparent 20%);
  background-size: cover; 
  background-repeat: no-repeat;
}

.container {
  color: #293264;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.container h1{
  font-size: 2rem;
}

.container p{
  font-size: 1rem;
}

button {
  background-color: #4b57a6;
  color: #fff;
  width: 190px;
  height: 50px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
}

button:hover {
  background-color: #3f4a90;
}

.question{
  color: #293264;
  font-size: 1rem;
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 1em;
}


.answers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  align-items: center;
}

.answer-button {
  background: transparent;
  border: 1px solid #4D5B9E;
  border-radius: 12px;
  color: #293264;
  cursor: pointer;
  font-size: 0.64rem;
  font-weight: 500;
  font-family: "Inter";
  transition: all 0.2s ease;
  min-width: fit-content;
}

.answer-button:hover {
  background-color: #D6DBF5;
  border-color: #D6DBF5;
}

.answer-button.selected {
  background-color: #D6DBF5;
  border-color: #D6DBF5;
}

.answer-button.correct {
  background-color: #94D7A2; /* Green for correct answers */
  color: white;
}

.answer-button.incorrect {
  background-color: #F8BCBC; /* Red for incorrect answers */
  color: white;
}

/* Divider line between questions */
.question-container:not(:last-child) {
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 1.5rem;
}

/* Responsive design */
@media (max-width: 600px) {
  .quiz-container {
    padding: 1rem;
  }
  
  .answers-container {
    flex-direction: column;
    align-items: stretch;
  }
  
  .answer-button {
    width: 100%;
    text-align: center;
  }
}

.check-button{
  display: block;
  margin: 0.8em auto;

}

.result{
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
}